.main {
  --color-gray-70: #9896A9;
  --color-gray-60: #B9B5C9;
  --color-gray-10: #FAFAFF;

  --color-pink-70: #EC0053;

  --color-orange-90: #F16E20;
  --color-orange-80: #FF7A00;
  --color-orange-70: #FF8D24;
  --color-orange-5: #FFF9F0;

  --color-gray-90: #5C5A6A;

  --white-100: #fff;
  --black-100: #000;

  --text-primary: #3D3B4B;
  --text-additional: #9896A9;
  --text-secondary: var(--white-100);
  --text-accent: var(--color-orange-80);

  --button-secondary-default: #FF8D24;

  --radius-l: 1.25rem;

}
